<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" id="topNavbar">
  <div class="container">
    <a class="navbar-brand mr-5" href="#"><span class="brand-1">My</span><span class="brand-2">Jobs</span></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" formControlName="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>